<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.olimpiadebrawijaya.atifafiorenza.ob2019">

    <uses-permission
            android:name="android.permission.CAMERA"
            tools:node="remove" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".OBApplication"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning"
            tools:replace="android:supportsRtl">

        <service android:name=".notification.OBMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--
         Set custom default icon. This is used when no icon is set for incoming notification messages.
         See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_ob_notification" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorPrimary" />

            <activity
                android:name=".ui.SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>

                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity>

            <activity
                android:name=".ui.main.MainActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"/>

            <activity
                android:name=".ui.berita_detail.BeritaDetailActivity"
                android:label="@string/title_activity_berita_detail2"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"/>

            <activity
                android:name=".ui.nav_menu.about_us.AboutUsActivity"
                android:label="@string/title_activity_about_us"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"/>

            <activity
                    android:name=".ui.LoginActivity"
                    android:screenOrientation="portrait"
                    android:theme="@style/AppTheme.NoActionBar"
                    android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

            <!--<activity-->
                    <!--android:name=".ui.EnrollKeyActivity"-->
                    <!--android:screenOrientation="portrait"-->
                    <!--android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>-->

            <activity
                    android:name=".ui.guest.GuestMainActivity"
                    android:launchMode="singleTask"
                    android:screenOrientation="portrait"
                    android:theme="@style/AppTheme.NoActionBar"/>

            <activity
                    android:name=".ui.detail_klasemen.DetailKlasemenActivity"
                    android:screenOrientation="portrait"/>

            <activity android:name=".ui.nav_menu.hasil_pertandingan.KategoriActivity"
                  android:screenOrientation="portrait"/>

            <activity
                    android:name=".ui.nav_menu.hasil_pertandingan.DetailHasilActivity"
                    android:screenOrientation="portrait"/>

            <activity
                    android:name=".ui.nav_menu.hasil_pertandingan.HasilPertandinganActivity"
                    android:screenOrientation="portrait"/>
        
    </application>

</manifest>